*.iml
.gradle
/.gradle-user-home
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/keystore/
*.jks
dist/size_audit_*.csv
app/src/main/assets/demo_sessions/
